body{
  margin-left: 10%;
    margin-right: 10%;
}

 .navbar .navbar-nav {
   display: inline-block;
   float: none;
   vertical-align: top;
 }

 .navbar .navbar-collapse {
   text-align: center;
 }


 .navbar-inverse .navbar-brand{
   font-size: 25px;
   color:#C5402B;
 }
